@import "colors";
@import "utilsClasses";

#blog{
    margin-top: 2rem;
    margin-bottom: 2rem;
    >div{
        width: 60%;
        margin: auto;
        text-align: center;
        >h1{
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        >h3{
            font-size: 1.5rem;
            font-weight: 200;
        }
    }
}